body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: lightgreen;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul {
    list-style-type: none;
    display: flex;

    /* padding: 0; */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

h1 {
    right: 10px;
}

.social-icons {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 10px;   /* Adjust the distance from the left */
    display: flex;
    flex-direction: column; /* Stack the icons vertically */
    gap: 10px; /* Space between the icons */
}

.mainContainer {
    max-width: 800px; /* Increase the width for better alignment */
    line-height: 1.6; /* Improves readability by increasing line spacing */
    margin: 50px auto; /* Center the container and add margin */
    padding: 20px; /* Add padding for better spacing */
}

a img {
    width: 30px;  /* Adjust the width of the icons */
    height: 30px; /* Adjust the height of the icons */
    margin: 5px;  /* Add some space around the icons */
    transition: transform 0.3s ease;
}

#about-us {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

#mission-vision {
    text-align: center;
}

#mission-vision h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#mission-vision ul {
    list-style-type: none;
    padding: 0;
}

#mission-vision ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#team {
    margin-top: 50px;
}

#team h2 {
    margin-bottom: 20px;
    text-align: center;
}

.team-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.team-member {
    text-align: center;
    width: 30%;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

body{
    text-align: center;
}
/* Some basic styling for demonstration purposes */
#contactForm {
  max-width: 400px;
  margin: 0 auto;
}
#contactForm input,
#contactForm textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
}
#contactForm button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
#contactForm button:hover {
  background-color: #0056b3;
}